.title {
    margin-left: 12px;
    /* margin-top: 11px; */
    margin-bottom: 5px;
    font-size: 25px;
}
.creator {
    font-size: 14px;
}
.mat-toolbar {
    margin-bottom: 10px;
}
/* .logo-group{
    position: absolute;
    left: 10px;
    top: 10px;
} */
.logo{
    height:20px;
    padding: 0px;
    margin: 0px;
    width: 20px;
}