<mat-toolbar>
    <!-- <img src="../../assets/niras-logo.svg" height="40 px"/> -->
    <span class="title">SPARQL-visualizer | {{title}}</span>
    <span fxFlex="grow"></span>
    <span *ngIf="creator" class="creator">By {{creator}}</span>
  
    <!-- Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showWIP()">
        <mat-icon>fullscreen</mat-icon>
        <span>Switch to fullscreen</span>
      </button>
      <button mat-menu-item (click)="downloadApp()">
        <mat-icon>file_download</mat-icon>
        <span>Download App</span>
      </button>
      <button mat-menu-item (click)="showSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="submenu">
        <mat-icon>school</mat-icon>
        <span>Tutorials</span>
      </button>
      <button mat-menu-item (click)="showAbout()">
        <mat-icon>info_outline</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>

    <!-- sub-menu tutorials -->
    <mat-menu #submenu="matMenu">
      <button mat-menu-item *ngFor="let video of videos" (click)="showVideo(video.id)">
        <span>{{video.title}}</span>
      </button>
    </mat-menu>
    
</mat-toolbar>