<mat-card class="mat-elevation-z2">

    <!-- Select -->
    <mat-form-field>
        <mat-select placeholder="Dataset" (change)="changeTab($event.value)">
            <mat-option value="new">Add set...</mat-option>
            <mat-option *ngFor="let title of tabTitles; let i = index" [value]="i">
                {{ title }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="data">
    
        <!-- Data -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Triples
                </mat-panel-title>
                <mat-panel-description>
                    Turtle data to be queried
                </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-form-field class="full-width">
                    <textarea rows="15" cols="105" matInput placeholder="Triple data" [(ngModel)]="data.triples"></textarea>
                </mat-form-field>

            </mat-expansion-panel>
        </mat-accordion>

        <!-- Query -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Query
                </mat-panel-title>
                <mat-panel-description>
                    Query the data
                </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-form-field class="full-width">
                    <textarea rows="15" cols="105" matInput placeholder="Triple data" [(ngModel)]="data.query"></textarea>
                </mat-form-field>

                <button mat-button (click)="doQuery(data.query, data.triples)">Query</button>

            </mat-expansion-panel>
        </mat-accordion>

        <!-- Query result -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Query
                </mat-panel-title>
                <mat-panel-description>
                    Query result
                </mat-panel-description>
                </mat-expansion-panel-header>
            
                <!-- Data visualization -->
                <app-sparql-force *ngIf="queryResult" [data]="queryResult" [height]="600" [width]="800"></app-sparql-force>
                <span *ngIf="!queryResult">No result to show</span>
            </mat-expansion-panel>
        </mat-accordion>
    
    </div>

</mat-card>