.full-width {
    width: 100%;
}
.description {
    font-size: 12px;
}
.mat-card {
    margin-bottom: 10px;
}
.iconbutton:hover {
    opacity: 0.5;
    cursor: pointer;
}
.smallicon {
    font-size: 18px;
    color: #aaa;
}
.button-row {
    margin-top: 10px;
}
.json-container {
    opacity: 0.9;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}
.icon-bar {
    position: absolute;
    right: 5px;
    top: 5px;
}
.icon-bar > mat-icon:hover {
    cursor: pointer;
    color: red;
}