.full-width {
    width: 100%;
}
.description {
    font-size: 12px;
}
.mat-card {
    margin-bottom: 10px;
}
.iconbutton:hover {
    opacity: 0.5;
    cursor: pointer;
}
.smallicon {
    font-size: 18px;
    color: #aaa;
}
.json-container {
    opacity: 0.9;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}
.icon-bar {
    position: absolute;
    right: 5px;
    top: 5px;
}
.icon-bar > mat-icon:hover {
    cursor: pointer;
    color: red;
}
.loading-spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
}

.fullscreen-toolbar{
    position: absolute;
    width: 500px;
    left: 10px;
    top: 85px;
    z-index: 10;
}
.fullscreen-canvas{
    position: absolute;
    height: 95%;
    width: 98%;
    z-index: -1;
}