<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
    <div fxFlex="40%">
        <mat-card class="mat-elevation-z2">

            <p>
                <span fxFlex="60 %">Select dataset</span>
                <span fxFlex="grow"></span>
                <mat-icon 
                    class="swap" 
                    [matTooltip]="toggleTooltip"
                    (click)="toggleStore()">
                    swap_horiz
                </mat-icon>
            </p>

            <!-- Select -->
            <mat-form-field class="full-width">
                <mat-select placeholder="Dataset" (change)="changeTab($event.value)" [value]="tabIndex">
                    <!-- <mat-option value="new">Add set...</mat-option> -->
                    <mat-option *ngFor="let title of tabTitles; let i = index" [value]="i">
                        {{ title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Endpoint settings -->
            <div *ngIf="!localStore">
                <app-settings></app-settings>
                <div class="button-row">
                    <button 
                        mat-raised-button color="warn"
                        (click)="wipeDB()">
                        Wipe database <mat-icon>delete_forever</mat-icon>
                    </button>
                    <button 
                        mat-raised-button
                        (click)="loadDataset()">
                        Load dataset <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <button
                        mat-raised-button
                        (click)="loadOntologies()">
                        Load Ontology data
                    </button>
                </div>
            </div>

        </mat-card>

        <mat-card class="mat-elevation-z2">
            
            <div *ngIf="data">
                <p>Description</p>
                <span class="description" [innerHTML]="data.description | MarkdownToHtml"></span>
            </div>

        </mat-card>
    </div>
    <div fxFlex="55%">

        <div *ngIf="data">
        
            <!-- Data -->
            <mat-accordion *ngIf="localStore">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Triples
                    </mat-panel-title>
                    <mat-panel-description>
                        Turtle data to be queried
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <mat-form-field class="full-width">
                        <textarea 
                            rows="15" 
                            cols="105" 
                            matInput 
                            placeholder="Triple data"
                            onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
                            [(ngModel)]="data.triples">
                        </textarea>
                    </mat-form-field>

                    <button 
                        mat-raised-button 
                        (click)="resetTriples()">
                        Reset <mat-icon>cached</mat-icon>
                    </button>

                </mat-expansion-panel>
            </mat-accordion>

            <!-- Query -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Query
                    </mat-panel-title>
                    <mat-panel-description>
                        Query the data
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <mat-form-field class="full-width">
                        <textarea 
                            rows="15" 
                            cols="105" 
                            matInput 
                            placeholder="Triple data"
                            onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
                            [(ngModel)]="data.query">
                        </textarea>
                    </mat-form-field>

                    <div class="full-width" fxLayout="row">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="doQuery()">
                            Query <mat-icon>play_circle_outline</mat-icon>
                        </button>

                        <button 
                            mat-raised-button 
                            (click)="resetQuery()">
                            Reset <mat-icon>cached</mat-icon>
                        </button>

                        <div fxFlex="grow"></div>
                        <mat-slide-toggle *ngIf="!localStore" [(ngModel)]="reasoning">Reasoning</mat-slide-toggle>
                    </div>


                </mat-expansion-panel>
            </mat-accordion>

            <!-- Query result -->

            <!-- CONSTRUCT -->
            <mat-accordion *ngIf="queryType == 'construct'">
                <mat-expansion-panel [expanded]="resultFieldExpanded">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Query
                    </mat-panel-title>
                    <mat-panel-description>
                        Query result
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <!-- Data visualization -->
                    <app-sparql-force class="full-width" *ngIf="queryResult" [data]="queryResult" [height]="600"></app-sparql-force>
                    <span *ngIf="!queryResult">No result to show</span>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- SELECT -->
            <mat-accordion *ngIf="queryType == 'select'">
                <mat-expansion-panel [expanded]="resultFieldExpanded">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Query
                    </mat-panel-title>
                    <mat-panel-description>
                        Query result
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <!-- Data visualization -->
                    <sparql-table [queryResult]="queryResult"></sparql-table>
                    <span *ngIf="!queryResult">No result to show</span>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>