.table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.table-header {
    min-height: 20px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 10px;
    font-size: 14px;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.link:hover {
    cursor: pointer;
    opacity: 0.7;
}