.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.table-header {
    min-height: 30px;
    display: flex;
    align-items: center;
    margin: 8px 24px 8px 24px;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.mat-cell, .mat-header-cell{
    position: relative;
    padding-right: 5px;
    height:100%;
}

.table-header > .mat-icon {
    font-size: 16x;
    padding-right: 10px;
}
.table-header > .mat-icon:hover {
    cursor: pointer;
    color: #7ca37f;
}

.colRest {
    text-align: right;
}

.link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.mat-cell:hover .cp {
    display: inline;
}
#mat-checkbox-1 > label > span {
    font-size: 14px;
}
.cp{
    display: none;
    position: absolute;
    cursor: pointer;
    text-align: right;
    right: 1px;
    top: 1px;
    font-size: 18px;
    z-index: 10;
}
.cp:hover {
    color: #7ca37f;
}