/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* For MD content */
img {
    width: 100%;
    height: auto;
}
code {
    background: #F5F5F5;
}
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid #ddd;
}