.container{
    position: relative;
    height: 100%;
    font-family: Roboto;
}
.mat-dialog-content {
    min-height: 200px;
}
.mat-form-field{
    width: 100%;
}
p {
    font-size: 12px;
}
.mat-dialog-actions{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.mat-form-field{
    margin-top: 5px;
}