<mat-accordion>
    
    <!-- TRIPLESTORE -->
    <mat-expansion-panel>

    <!-- Closed -->
    <mat-expansion-panel-header>
        <mat-panel-title>
        Triplestore settings
        </mat-panel-title>
        <!-- <mat-panel-description>
        What endpoint to communicate with
        </mat-panel-description> -->
    </mat-expansion-panel-header>

    <!-- Open -->
    <mat-form-field class="full-width">
        <mat-label>Triplestore</mat-label>
        <mat-select [(ngModel)]="projectSettings.tripleStore" (selectionChange)="onDataChange()">
            <mat-option *ngFor="let item of triplestoreOptions" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- NB! TRIED IMPLEMENTING DS LOOKUP BUT THIS REQUEST IS NOT POSSIBLE DUE TO CORS POLICY -->
    <!-- <mat-form-field class="full-width">
        <input matInput 
        type="text"
        placeholder="Project host" 
        [(ngModel)]="projectSettings.host"
        (input)="onDataChange()">
    </mat-form-field> -->

    <mat-form-field class="full-width">
        <input matInput 
        type="text"
        placeholder="Project endpoint" 
        [(ngModel)]="projectSettings.endpoint" 
        (input)="onDataChange()">
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="projectSettings.tripleStore == 'Fuseki'">
        <input matInput 
        type="text"
        placeholder="Project update endpoint" 
        [(ngModel)]="projectSettings.updateEndpoint" 
        (input)="onDataChange()">
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="projectSettings.tripleStore == 'Fuseki'">
        <input matInput 
        type="text"
        placeholder="Project data endpoint" 
        [(ngModel)]="projectSettings.dataEndpoint" 
        (input)="onDataChange()">
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="projectSettings.tripleStore == 'Stardog'">
        <input matInput 
        type="text"
        placeholder="Project database" 
        [(ngModel)]="projectSettings.database" 
        (input)="onDataChange()">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput 
        type="text" 
        placeholder="Username" 
        [(ngModel)]="projectSettings.username" 
        (input)="onDataChange()">
    </mat-form-field>
    
    <mat-form-field class="full-width">
        <input matInput 
        type="password" 
        placeholder="Password"
        [(ngModel)]="projectSettings.password" 
        (input)="onDataChange()">
    </mat-form-field>

    <!-- NB! TRIED IMPLEMENTING DS CREATION BUT THIS REQUEST IS NOT POSSIBLE DUE TO CORS POLICY -->
    <!-- <div *ngIf="projectSettings.tripleStore == 'Fuseki'">
        <button 
            fxFlex="100%"
            mat-raised-button 
            (click)="addFusekiTestStore()">
            Add test store
        </button>
    </div> -->

    </mat-expansion-panel>

</mat-accordion>

<div class="button-row">
    <button 
        mat-raised-button color="warn"
        [matMenuTriggerFor]="wipeMenu">
        Wipe graph <mat-icon>delete_forever</mat-icon>
    </button>
    <button 
        mat-raised-button
        [matMenuTriggerFor]="loadMenu">
        Load dataset <mat-icon>cloud_upload</mat-icon>
    </button>
    <button
        mat-raised-button
        (click)="loadOntologies()">
        Load BOT
    </button>

    <mat-menu #loadMenu="matMenu">
        <button mat-menu-item (click)="loadDataset()">
            <span>To main graph</span>
        </button>
        <button mat-menu-item (click)="showLoadToNamed()">
            <span>To named graph</span>
        </button>
    </mat-menu>

    <mat-menu #wipeMenu="matMenu">
        <button mat-menu-item (click)="wipeDB()">
            <span>Main graph</span>
        </button>
        <button mat-menu-item (click)="showWipeNamed()">
            <span>Named graph</span>
        </button>
    </mat-menu>

</div>